/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: $darkGray;
}

/* Change text & background color */


a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
    padding-left: 0px;
}


.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: $darkGray;
}

.title {
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: $darkGray;
}

.section-title {
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: $darkGray;
    text-transform: uppercase;
}

.products-title {
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: $blue;
}

// -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 20px 30px;
// -moz-box-shadow: rgba(0, 0, 0, 0.06) 0px 20px 30px;
// box-shadow: rgba(0, 0, 0, 0.06) 0px 20px 30px;