/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: $darkGray;
}

/* Change text & background color */


a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}


.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}
