#banner-part {
    margin: 30px 0;


    .main-banner {
        background-color: $bg;
        background-size: cover, contain;
        background-position: center, right bottom;
        background-repeat: no-repeat, no-repeat;
        height: 530px;
        border-radius: 10px;
        padding-left: 30px;
        display: flex;
        align-items: center;

        .text-part {

            .announce-title {
                text-transform: uppercase;
                color: $orange;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            .banner-title {
                font-size: 45px;
                font-weight: normal;

                span {
                    font-weight: 600;
                }
            }

            p {
                padding-bottom: 15px;
            }

            .shop-btn {
                padding: 10px 25px;
                background-color: #e5371b;
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                color: #fff;
                border-radius: 20px;
                text-transform: uppercase;
            }

        }


    }

    .banner-box {
        margin-bottom: 30px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        transform: scale(1);
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            @include transition(.3s);
        }

        &:hover img {
            transform: scale(1.1);
        }

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            padding-left: 30px;
            display: flex;
            align-items: center;

            .title {
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 500;
                padding: 0px 0px 20px 0px;
                margin-bottom: -6px;
                color: #fff;
            }

            a {
                text-transform: uppercase;
                color: #fff;

                i {
                    margin-left: 3px;
                    color: $orange;
                }
            }
        }
    }
}

#monthly-deal {
    padding: 40px 0px;

    .ending-data {
        padding: 12px 15px;
        background-color: $orange;
        font-size: 18px;
        color: #fff;
        display: inline-block;
    }



    .container {
        position: relative;

        .right {
            position: absolute;
            top: 50%;
            left: -15px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .left {
            position: absolute;
            top: 50%;
            right: -15px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }


    .content-box {
        margin: 30px 15px;
        @include transition(.3s);

        &:hover {
            -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
            -moz-box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
            box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
        }

        &:hover .img-box ul li {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        &:hover .img-box ul li:first-child {
            transition-delay: .1s;
        }

        &:hover .img-box ul li:nth-child(2) {
            transition-delay: .2s;
        }

        &:hover .img-box ul li:nth-child(3) {
            transition-delay: .3s;
        }

        .img-box {
            height: 250px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
            }


            ul {
                position: absolute;
                height: 40px;
                width: 100%;
                left: 0;
                bottom: 0;
                text-align: center;

                li {
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(20px);
                    transition: 0.3s ease;
                    margin: 0px 3px;

                    a {
                        i {
                            font-size: 14px;
                            height: 40px;
                            width: 40px;
                            background-color: #fff;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #d5d5d5;
                            @include transition(.3s);

                            &:hover {
                                background-color: $orange;
                                color: #fff;
                                border: 1px solid $orange;
                            }
                        }
                    }
                }
            }

        }

        .text-content {
            padding: 20px;
            text-align: center;

            h4 {
                padding: 0px 40px;
            }


            // .hidden-text {
            //     background-color: skyblue;
            //     padding: 10px 0;

            //     p {
            //         font-weight: 600;
            //         text-align: left;

            //         span {
            //             font-weight: normal;
            //             float: right;
            //         }
            //     }
            // }

            .price {
                font-size: 18px;
                color: $orange;
                font-weight: 500;

                span {
                    font-size: 14px;
                    color: #b4b4b4;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        height: 1px;
                        background-color: #b4b4b4;
                        width: 100%;
                        top: 50%;
                        width: 100%;
                        left: 0;
                        transform: translate(0%, -50%);
                    }
                }
            }

            .progress-bar-wrap {
                padding: 10px 0;

                .progress {
                    background-color: #e4e2e2;
                    position: relative;
                    height: 10px;
                    width: 100%;
                    border-radius: 0px;
                }

                .progress-done {
                    background: #42af3e;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 0;
                    opacity: 0;
                    transition: 1s ease 0.3s;
                    position: relative;
                }

                .progress-value {
                    position: absolute;
                    right: -40px;
                    top: 100%;
                    color: #42af3e;
                    font-size: 28px;
                    line-height: 34px;
                    padding-top: 20px;
                    font-weight: 600;
                    font-family: Arial;
                }

                .progress-thumb {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -20px;
                    background-color: #42af3e;
                }
            }

            .available-products {
                text-align: left;

                span {
                    float: right;
                }
            }

        }
    }
}

#top-category {
    padding: 40px 0;

    .container {
        position: relative;

        .right-arrow {
            position: absolute;
            top: 50%;
            left: -20px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .left-arrow {
            position: absolute;
            top: 50%;
            right: 0px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }

    .category-content-box {
        margin: 30px 15px;
        height: 200px;
        background-color: $bg;
        border: 1px solid $bg;
        border-radius: 5px;
        @include transition(.3s);

        &:hover {
            border: 1px solid $orange;
        }

        .img-box {
            padding: 10px;
            height: 120px;
            overflow: hidden;

            img {
                width: 65%;
                margin: 0px 30px;
            }
        }

        p {
            font-weight: 600;
            text-align: center;
            padding-top: 22px;
            text-transform: uppercase;
        }
    }
}

#new-arrival {
    padding: 40px 0;

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: $orange;
        background-color: transparent;
        border-color: transparent;
    }

    .nav-tabs {
        border-bottom: none;
        float: right;
    }

    .nav-tabs .nav-link {
        color: $darkGray;
        font-weight: 500;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
        color: $orange;
    }

    .content-div {
        margin: 20px 0;

        .content-box {
            padding: 30px 0px;
            margin-bottom: 20px;


            h4 {
                margin-bottom: 0px;
                line-height: 24px;
            }

            &:hover .icon-box li {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            &:hover .icon-box li:first-child {
                transition-delay: .1s;
            }

            &:hover .icon-box li:nth-child(2) {
                transition-delay: .2s;
            }

            &:hover .icon-box li:nth-child(3) {
                transition-delay: .3s;
            }


            .icon-box {
                li {
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(20px);
                    transition: 0.3s ease;
                    margin: 0px 3px;

                    a {
                        i {
                            font-size: 14px;
                            height: 40px;
                            width: 40px;
                            background-color: #fff;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #d5d5d5;
                            @include transition(.3s);

                            &:hover {
                                background-color: $orange;
                                color: #fff;
                                border: 1px solid $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}

#shorts-banner {
    padding: 40px 0;

    .short-boxes-one {
        background-color: $bg;
        height: 250px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;


        .text {
            position: absolute;
            height: 115px;
            top: 30%;
            width: 200px;
            left: 55%;

            .title {
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 10px;

                span {
                    color: $orange;
                    font-weight: 600;
                }

            }

            a {
                text-transform: uppercase;
                font-weight: 600;

                i {
                    margin-left: 3px;
                    color: $orange;
                }
            }

        }

        .img-box {
            position: absolute;
            left: 25px;
            bottom: -15px;
            height: 225px;
            width: 180px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .short-boxes-two {
        background-color: $bg;
        height: 250px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;


        .text {
            position: absolute;
            height: 115px;
            top: 70%;
            width: 200px;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);

            .title {
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 10px;

                span {
                    color: $orange;
                    font-weight: 600;
                }

            }

            a {
                text-transform: uppercase;
                font-weight: 600;

                i {
                    margin-left: 3px;
                    color: $orange;
                }
            }

        }

        .img-box {
            position: absolute;
            left: 50%;
            top: -55px;
            height: 225px;
            width: 180px;
            transform: translate(-50%, -10%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .short-boxes-three {
        background-color: $bg;
        height: 250px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;


        .text {
            position: absolute;
            height: 115px;
            top: 30%;
            width: 200px;
            left: 10%;

            .title {
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 10px;

                span {
                    color: $orange;
                    font-weight: 600;
                }

            }

            a {
                text-transform: uppercase;
                font-weight: 600;

                i {
                    margin-left: 3px;
                    color: $orange;
                }
            }

        }

        .img-box {
            position: absolute;
            right: 25px;
            bottom: -15px;
            height: 225px;
            width: 180px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}

#best-seller {
    padding: 40px 0;

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: $orange;
        background-color: transparent;
        border-color: transparent;
    }

    .nav-tabs {
        border-bottom: none;
        float: right;
    }

    .nav-tabs .nav-link {
        color: $darkGray;
        font-weight: 500;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
        color: $orange;
    }

    .tab-pane {
        position: relative;

        .right-side-arrow {
            position: absolute;
            top: 40%;
            left: -20px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .left-side-arrow {
            position: absolute;
            top: 40%;
            right: 0px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }

    .tab-pane {
        position: relative;

        .r-arrow {
            position: absolute;
            top: 40%;
            left: -20px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .l-arrow {
            position: absolute;
            top: 40%;
            right: 0px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }

    .tab-pane {
        position: relative;

        .ri-arrow {
            position: absolute;
            top: 40%;
            left: -20px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .le-arrow {
            position: absolute;
            top: 40%;
            right: 0px;
            background-color: #f5f3f2;
            height: 60px;
            width: 25px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }

    .content-box {
        margin: 30px 15px;
        @include transition(.3s);

        &:hover {
            -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
            -moz-box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
            box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 30px;
        }

        &:hover .img-box ul li {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        &:hover .img-box ul li:first-child {
            transition-delay: .1s;
        }

        &:hover .img-box ul li:nth-child(2) {
            transition-delay: .2s;
        }

        &:hover .img-box ul li:nth-child(3) {
            transition-delay: .3s;
        }

        .img-box {
            height: 250px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
            }


            ul {
                position: absolute;
                height: 40px;
                width: 100%;
                left: 0;
                bottom: 0;
                text-align: center;

                li {
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(20px);
                    transition: 0.3s ease;
                    margin: 0px 3px;

                    a {
                        i {
                            font-size: 14px;
                            height: 40px;
                            width: 40px;
                            background-color: #fff;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #d5d5d5;
                            @include transition(.3s);

                            &:hover {
                                background-color: $orange;
                                color: #fff;
                                border: 1px solid $orange;
                            }
                        }
                    }
                }
            }

        }

        .text-content {
            padding: 15px;


            .price {
                font-size: 18px;
                color: $orange;
                font-weight: 500;

                span {
                    font-size: 14px;
                    color: #b4b4b4;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        height: 1px;
                        background-color: #b4b4b4;
                        width: 100%;
                        top: 50%;
                        width: 100%;
                        left: 0;
                        transform: translate(0%, -50%);
                    }
                }
            }
        }
    }
}

#hot-sales {
    padding: 40px 0px;


    .hot-sale-box {
        height: 250px;
        padding: 60px;
        background-color: $bg;

        .hot-sale-title {
            font-size: 44px;
            font-weight: normal;
            color: $darkGray;

            span {
                font-weight: 600;
                color: $orange;
            }
        }

        a {
            text-transform: uppercase;
            font-weight: 600;

            i {
                margin-left: 3px;
                color: #e5371b;
            }
        }
    }
}

#double-banner {
    padding: 40px 0;


    .short-box {
        background-color: $bg;
        height: 300px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;


        .text {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(0%, -50%);


            .title {
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                margin-bottom: 10px;

                span {
                    color: $orange;
                    font-weight: 600;
                }

            }

            p {
                color: #707070;
            }

            a {
                text-transform: uppercase;
                font-weight: 600;

                i {
                    margin-left: 3px;
                    color: $orange;
                }
            }

        }

        .img-box {
            position: absolute;
            right: 25px;
            bottom: -15px;
            height: 275px;
            width: 220px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}

#clients-part {
    padding: 40px 0px;


    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }

    [dir='rtl'] .slick-slide {
        float: right;
    }

    .slick-slide img {
        display: block;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }
}