#top-nav {
    height: 50px;
    background: #F5F3F2;

    .col-lg-8 {
        padding-right: 0px;
    }

    .dropdown {
        margin-top: 10px;
        margin-left: 30px;
        display: inline-block;

        button {
            font-size: 14px;
            font-weight: normal;
            color: $darkGray;
        }
    }

    p {
        display: inline-block;
        line-height: 50px;
        font-size: 14px;
        font-weight: normal;
        color: $darkGray;
        margin-right: 30px;
        margin-inline-start: 0;
    }

    .form-select:focus {
        border-color: none;
        outline: 0;
        box-shadow: none;
    }


    .form-select {
        width: 100px;
        font-size: 14px;
        font-weight: 400;
        line-height: 38px;
        color: $darkGray;
        background-color: #F5F3F2;
        background-size: 16px 12px;
        border: none;
        display: inline-block;
    }

}

#search-nav {
    height: 100px;

    a {
        line-height: 100px;
    }

    .search-box {
        height: 50px;
        width: 100%;
        margin-top: 25px;

        /*the container must be positioned relative:*/
        .custom-select {
            position: relative;
            width: 190px;
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
            display: inline-block;

            select {
                display: none;
                /*hide original SELECT element:*/
            }

            .select-selected {
                background-color: transparent;
                @include transition(.3s);

                &:hover {
                    color: #fff;
                    background-color: $orange;
                }

                &:hover::after {
                    border-color: #fff transparent transparent transparent;
                }

                &:hover.select-arrow-active:after {
                    border-color: transparent transparent #fff transparent;
                    top: 13px;
                }
            }

            .select-arrow-active {
                color: #fff !important;
                background-color: $orange !important;
            }


            /*style the arrow inside the select element:*/
            .select-selected:after {
                position: absolute;
                content: "";
                top: 20px;
                right: 20px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: $darkGray transparent transparent transparent;
            }

            /*point the arrow upwards when the select box is open (active):*/
            .select-selected.select-arrow-active:after {
                border-color: transparent transparent #fff transparent;
                top: 13px;
            }

            /*style the items (options), including the selected item:*/
            .select-items div,
            .select-selected {
                color: $darkGray;
                padding: 8px 16px;
                cursor: pointer;
                user-select: none;
                border: 1px solid #ebebeb;
                @include transition(.3s);
            }

            /*style items (options):*/
            .select-items {
                position: absolute;
                background-color: #fff;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 99;
            }

            /*hide the items when the select box is closed:*/
            .select-hide {
                display: none;
            }

            .select-items div:hover,
            .same-as-selected {
                color: $orange;
            }
        }

        .search-place {
            display: inline-block;
            width: 450px;
            height: 100%;
            border: none;
            margin-left: -3px;
            margin-right: -3px;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            background: transparent;
            color: #6b6b6b;
            font-size: 15px;
            padding-left: 15px;
            margin-top: -1px;
        }

        button {
            width: 120px;
            color: #fff;
            font-weight: semi-bold;
            text-align: center;
            height: 100%;
            border: none;
            background: $orange;
        }

    }
}

nav {
    background-color: rgb(238, 202, 202);

    .sub-dropdown {
        position: relative;

        .sub-dropdown-menu {
            position: absolute;
            top: 0;
            right: -68px;
            background-color: antiquewhite;
            padding: 15px;
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            margin-top: 0;
        }

        &:hover .sub-dropdown-menu {
            transition: .3s;
            opacity: 1;
            visibility: visible;
            top: 100%;
            transform: rotateX(0deg);
        }
    }


}

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }

}