#top-nav {
    height: 50px;
    background: #F5F3F2;

    .dropdown {
        margin-top: 10px;
        margin-left: 30px;
        display: inline-block;

        button {
            font-size: 14px;
            font-weight: normal;
            color: #252525;
        }
    }

    p {
        display: inline-block;
        line-height: 50px;
        font-size: 14px;
        font-weight: normal;
        color: #252525;
        margin-left: 30px;
    }

    .form-item {
        margin-top: 15px;
        // line-height: 50px;
    }



    .country-select.inside input,
    .country-select.inside input[type=text] {
        border: none;
        background: #F5F3F2;
        width: 180px;
        padding-left: 10px;
    }

    .country-select.inside .flag-dropdown {
        left: auto;
        right: 0;
        background-color: #F5F3F2;
    }
}

nav {
    background-color: rgb(238, 202, 202);

    .sub-dropdown {
        position: relative;

        .sub-dropdown-menu {
            position: absolute;
            top: 0;
            right: -68px;
            background-color: antiquewhite;
            padding: 15px;
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            margin-top: 0;
        }

        &:hover .sub-dropdown-menu {
            transition: .3s;
            opacity: 1;
            visibility: visible;
            top: 100%;
            transform: rotateX(0deg);
        }
    }


}

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }

}