$orange: #e5371b;
$darkGray : #252525;
$lightGray : #707070;
$bg : #f5f3f2;

@mixin transition($duration) {
    -webkit-transition: all linear $duration;
    -moz-transition: all linear $duration;
    -ms-transition: all linear $duration;
    -o-transition: all linear $duration;
    transition: all linear $duration;
}